<div class="chat-container">
    <div class="chat-header">
        <h3 class="app-title">Ollama Chat App</h3>
    </div>

    <div class="center">
        <mat-spinner *ngIf="messageSent"></mat-spinner>
        <!-- <p>{{messageSent}}</p> -->
    </div>

    <div class="chat-messages" *ngFor="let message of messages">
        <span>{{message.sender}}</span>
        <p class="ollama-wrap" matTooltip="{{message.text}}">{{message.text}}</p>
    </div>

    <div class="chat-input">
        <form [formGroup]="messageForm" id="messageForm" (ngSubmit)="sendMessage()">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput formControlName="text" placeholder="Type a message">
                <mat-error *ngIf="messageForm?.get('text')?.invalid">Message is required</mat-error>
            </mat-form-field>
            <button mat-fab extended color="primary" type="submit" [disabled]="messageSent">
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </div>

</div>
